body {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  margin: 0;
  padding: 0;
}

/* Header */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  background-color: lightblue;
}

.HeaderImage {
  height: 10px;
}

/* Content */

.ContentContainer {
  padding: 1rem;
}

/* Footer */

footer {
  display: flex;
  border-top: 2px solid blue;
  background-color: lightblue;
  align-self: flex-start;
  width: 100%;
}

.FooterContainer {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto auto;
  grid-gap: 25px;
  padding: 1rem;
}
