body {
  background-color: lightgray;
  margin: 0;
  padding: 0;
}

/* Table */

.TableContainer {
  background-color: black;
}

.TableContainer tbody {
  background-color: white;
  padding: 1rem;
}

.TableContainer td {
  padding: 0.5rem;
}